@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Playfair Display", serif;
}

@theme {
  --color-lighest-beige: #ebe8e2;
  --color-light-beige: #d5cec4;
  --color-dark-beige: #a99a82;
  --color-dark-beige-hover: #b5a99a;
  --color-light-green: #7a9179;
  --color-dark-green: #527350;
}

*:focus-visible {
  outline: 3px solid var(--color-dark-green);
  outline-offset: 4px;
}
